
*{
    text-align: center;
}
ion-title{
    text-transform: uppercase;
}
ion-list{
    max-width: 20rem;
    margin-left: 39.5rem;
    text-align: start;
   
}   
ion-input{
    text-align: start;
}

ion-button{
    margin-left: 6.5rem;
}
.olvido{
    text-decoration: underline;
    font-size: 60%;
    margin-left: 12.2rem;
}

